In [12]:
import pandas as pd 
from sklearn.linear_model import LinearRegression as lrg
data=pd.read_csv("C:/Users/student/Downloads/telecom_churn.csv")

In [13]:
data.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [14]:
data.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB

In [15]:
print(data.isna().sum())

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64

In [19]:
data["State"].unique()

array(['KS', 'OH', 'NJ', 'OK', 'AL', 'MA', 'MO', 'LA', 'WV', 'IN', 'RI',
       'IA', 'MT', 'NY', 'ID', 'VT', 'VA', 'TX', 'FL', 'CO', 'AZ', 'SC',
       'NE', 'WY', 'HI', 'IL', 'NH', 'GA', 'AK', 'MD', 'AR', 'WI', 'OR',
       'MI', 'DE', 'UT', 'CA', 'MN', 'SD', 'NC', 'WA', 'NM', 'NV', 'DC',
       'KY', 'ME', 'MS', 'TN', 'PA', 'CT', 'ND'], dtype=object)

In [22]:
(data["State"]=="KS").sum()

70

In [29]:
for i in range(len(data)):
    if (data[["State"]]=="KS").bool ==True:
        data2.loc[i,:]=data[i,:]

In [38]:
data2=data.copy()
data2.groupby("State")["Total day calls"].sum()

State
AK     4954
AL     7928
AR     5618
AZ     6407
CA     3553
CO     6278
CT     7284
DC     5409
DE     6017
FL     6363
GA     5565
HI     5449
IA     4534
ID     7754
IL     5898
IN     7601
KS     7072
KY     5920
LA     5279
MA     6649
MD     6955
ME     6169
MI     7388
MN     8326
MO     6296
MS     6546
MT     6475
NC     6990
ND     6209
NE     5942
NH     5542
NJ     6807
NM     6339
NV     6694
NY     8154
OH     7771
OK     6116
OR     7467
PA     4439
RI     6528
SC     6148
SD     5689
TN     5377
TX     7199
UT     7125
VA     8113
VT     7324
WA     6679
WI     7541
WV    11001
WY     7871
Name: Total day calls, dtype: int64

In [49]:
data2[(data["International plan"]=="Yes") & (data["Voice mail plan"]=="Yes")]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
9,WV,141,415,Yes,Yes,37,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False
38,AK,136,415,Yes,Yes,33,203.9,106,34.66,187.6,99,15.95,101.7,107,4.58,10.5,6,2.84,3,False
41,MD,135,408,Yes,Yes,41,173.1,85,29.43,203.9,107,17.33,122.2,78,5.50,14.6,15,3.94,0,True
115,ME,36,510,Yes,Yes,42,196.8,89,33.46,254.9,122,21.67,138.3,126,6.22,20.0,6,5.40,0,True
180,WV,94,510,Yes,Yes,23,197.1,125,33.51,214.5,136,18.23,282.2,103,12.70,9.5,5,2.57,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2847,ID,119,415,Yes,Yes,32,173.0,101,29.41,209.4,93,17.80,231.1,91,10.40,12.2,4,3.29,0,False
3209,OH,68,415,Yes,Yes,24,125.7,92,21.37,275.9,98,23.45,214.5,108,9.65,14.2,6,3.83,3,True
3222,UT,61,415,Yes,Yes,29,128.2,119,21.79,171.7,83,14.59,250.9,114,11.29,11.7,6,3.16,3,False
3246,NC,77,408,Yes,Yes,44,103.2,117,17.54,236.3,86,20.09,203.5,101,9.16,11.9,2,3.21,0,True
3291,MI,119,510,Yes,Yes,22,172.1,119,29.26,223.6,133,19.01,150.0,94,6.75,13.9,20,3.75,1,True

In [50]:
data2

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [41]:
data2.groupby("State")["Total day calls"].std()

State
AK    19.130220
AL    17.377856
AR    20.809914
AZ    22.015952
CA    22.862236
CO    19.483733
CT    20.068432
DC    20.357883
DE    20.809479
FL    16.074424
GA    18.559864
HI    19.043530
IA    20.154005
ID    18.759625
IL    18.378293
IN    19.025462
KS    17.256775
KY    18.141788
LA    17.253837
MA    21.408032
MD    19.418380
ME    19.184822
MI    20.247057
MN    22.270735
MO    19.266278
MS    19.612435
MT    22.455160
NC    20.954506
ND    18.305107
NE    19.954429
NH    21.476384
NJ    20.591362
NM    19.789619
NV    20.466153
NY    19.045254
OH    19.681298
OK    21.506512
OR    20.039359
PA    22.717790
RI    20.205947
SC    20.505036
SD    21.913150
TN    23.133032
TX    15.410343
UT    19.565302
VA    19.033149
VT    22.707717
WA    17.669809
WI    19.533184
WV    21.925851
WY    23.274463
Name: Total day calls, dtype: float64

In [43]:
data.groupby("State")["State"].count()

State
AK     52
AL     80
AR     55
AZ     64
CA     34
CO     66
CT     74
DC     54
DE     61
FL     63
GA     54
HI     53
IA     44
ID     73
IL     58
IN     71
KS     70
KY     59
LA     51
MA     65
MD     70
ME     62
MI     73
MN     84
MO     63
MS     65
MT     68
NC     68
ND     62
NE     61
NH     56
NJ     68
NM     62
NV     66
NY     83
OH     78
OK     61
OR     78
PA     45
RI     65
SC     60
SD     60
TN     53
TX     72
UT     72
VA     77
VT     73
WA     66
WI     78
WV    106
WY     77
Name: State, dtype: int64

In [45]:
data.groupby("State")["Total intl minutes"].sum()

State
AK     521.0
AL     823.4
AR     570.5
AZ     680.4
CA     335.5
CO     651.5
CT     743.7
DC     572.7
DE     627.4
FL     633.0
GA     554.9
HI     533.0
IA     425.6
ID     766.6
IL     599.4
IN     709.8
KS     759.2
KY     628.6
LA     475.9
MA     641.5
MD     763.1
ME     619.6
MI     772.5
MN     877.5
MO     637.0
MS     694.5
MT     722.1
NC     677.2
ND     598.7
NE     637.4
NH     566.8
NJ     735.0
NM     641.2
NV     662.5
NY     828.8
OH     803.2
OK     638.7
OR     804.1
PA     472.1
RI     643.3
SC     594.8
SD     603.8
TN     545.0
TX     760.2
UT     736.7
VA     816.7
VT     741.1
WA     646.1
WI     760.1
WV    1067.2
WY     800.3
Name: Total intl minutes, dtype: float64

In [46]:
data["Total"]=data["Total intl calls"]+data["Total day calls"]+data["Total night calls"]

In [47]:
data["Total"]

0       204
1       229
2       223
3       167
4       237
       ...
3328    166
3329    184
3330    206
3331    252
3332    194
Name: Total, Length: 3333, dtype: int64

In [53]:
(data["Churn"]==True).sum()

483